.LoginPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginImageContainer{
    width: 85%;
    height: 75%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: translateY(-5%);
    overflow: hidden;
    position: relative;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}

.LoginImageContainer img{
    width: 100vw;
    height: 100vh; 
}

/* Clases del Form */

.LoginFormContainer{
    width: 25%;
    height: 40%;
    background-color: rgba(128, 128, 128, 0.878);
    z-index: 1;
    position: absolute;
    right: 15%;
    border-radius: 8px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
}

.LoginFormContainer form{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 5% 5%;
}

.LoginFormContainer form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2% auto 0; 
}