.containerCard {
    max-width: 600px;
    position: relative;
}

.classBtnComprar {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.input-group {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    gap: 5px;
    max-width: 30%;
}

.inputCantidad {    
    flex: 1;
}

.btnComprar {
    flex-shrink: 0;
}

.selected-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 10;
}