.containerTitleProd{
    width: auto;
    height: 20vh;
    background-position:center;
    background-attachment: contain;
    background-size: cover;
    border-radius: 8px;
}

.distasnceBox{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}